@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
  --font-mainfont: var(--font-bricolage), sans-serif;
  --font-serif: var(--serif);
  --color-bg: #0a0a0a;
  --color-card: #121212;
  --color-line: #1c1c1c;
  --color-acent: #bfff00;
  --color-gray: #a3a3a3;

  --font-mainfont: "Roboto", system-ui, Arial, sans-serif;

  --animate-blink: blink 1.6s infinite;

  @keyframes blink {
    50% {
      opacity: 0.2;
    }
  }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

html{
  scroll-behavior: smooth;
}
.linearBg{
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

.navlink {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--acent);
    transition: 0.2s ease;
  }
}

.navlink:hover::before{
  width: 100%;
}

.contactButton{
  transition: 0.2s ease;
  &:hover{
    border-color: var(--acent);
    color: var(--acent);
    transform: translateY(-5%);
  }
}
